<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/DE_CUOI_KI/src/DE_3_Bài1/EmployeeManagement.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="DE_3_Bài1.EmployeeManagement"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="DE_CUOI_KI"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DE_CUOI_KI"/>
</launchConfiguration>
